{{#if error}}
<p class="alert alert-danger error">{{error}}</p>
{{/if}} 

<div class="horizontally-centered">
    <div id="profile-box">
        <div id="profile-info">
            <h2 id="profile-username">{{username}}</h2>
            <img id="profile-img" src="{{img}}" alt="profile-img">
            <h6>Change your picture below</h6>
                <form method="POST" action="/upload" enctype="multipart/form-data">
                    <input type="file" name="imageUrl" accept="image/png, image/jpg">
                    <button class="addImg" type="submit">Upload</button> 
                </form>  
        </div>
        <div class="fav-info">
            <div id="fav-addded">
                <h3>Favorite Recipes</h3>
                <ul>
                    {{#each favorites}}
                    <li>
                        <form class="favorite" action="/recipe/{{this._id}}/delete" method="POST">
                        <a href="/recipe/{{this._id}}">{{this.title}}</a>
                        <button class="deleteFav" type="submit" value="Submit"><i class="fa fa-trash"></i></button>
                        </form>
                    </li>  
                    {{/each}}
                </ul> 
            </div>
        </div>


 <form method="POST" action="/profile/edit">
    <div id="edit-title-header">
        <h6 id="edit-title">EDIT ACCOUNT DETAILS</h6>
    </div>
    <input name="username" type="text" value="{{username}}" required>
    <input name="email" type="email" value="{{email}}" required>
        <button type="submit">SUBMIT</button>
</form>

