<h1>{{cuisine}}</h1>

{{#each oneCuisine}}
  <a href='/recipe/{{this._id}}'>{{this.title}}</a>
  <img src='{{this.image}}' />
  <div>{{{this.instructions}}}</div>
  <br />

{{/each}}
<a href='/'><button>Back to Home Page</button></a>
