
 <div class='banner'>
    <h4>{{oneRecipe.title}}</h4>
     <img src='{{oneRecipe.image}}'/>
     <div>
     <img class='banner-timer'src='/icons/time.png'>
     {{oneRecipe.readyInMinutes}} min
     </div>
 </div>
<<<<<<< HEAD
 <div class="overlay-container">
      <div class="overlay">
          <div class='ingredients'>
              <p class='over-head'>Ingredients</p>
=======
 {{#each pic1}}
 <img src="{{this}}" alt="">
{{/each}}
<a href="{{link}}">link to playlist</a>
<iframe width="420" height="345" src="{{video}}" frameborder="0" allowfullscreen>
</iframe>
 <div class='container'>
     <div class='row'>
          <div class='col-sm-12 col-md-6 p-2'>
 <div class="card " style="width: 50rem;">
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link info-card" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Ingredients
        </button>
      </h5>
    </div>
 <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
             <ul>
>>>>>>> 728c8d447800213843abf68b49278d775f780e42
                {{#each oneRecipe.extendedIngredients}}
                  <li>
                    {{this.original}}
                  </li>
                {{/each}}
              </ul>
        </div>
            <div class='instruction'>
              <p class='over-head'> Instructions</p>
             <div>{{{oneRecipe.instructions}}}</div>
            </div>
        </div>
    </div>
 </div>





<div>
    {{#each oneRecipe.cuisines}}
    {{#ifeq this Italian}}
    <h1>cuisiens{{this}}</h1>
    <img src="/images/inspiration/mexican1.jpeg" alt="img" height="50px"/>
    <img src="/images/inspiration/mexican2.jpeg" alt="img" height="50px"/>
    <img src="/images/inspiration/mexican3.jpeg" alt="img" height="50px"/>
    <video src="" alt="video">video</video>
    <a href="#">link to spotify</a>
    {{/ifeq}}
    {{/each }}
</div>
</div>




{{!-- </
  </div>
    <div class="row1">
        <div class="column1">
            <h1>wine rec</h1>
            <p>{{{oneRecipe.winePairing.pairingText}}</p>
        </div>
        </div>
        <div class="column1" id="right"></div>
            <h4>Reviews</h4>
            {{#each filteredReviews}}
            <h6>{{this.userId.username}}: {{this.comment}}</h6>
            {{/each}}
            <form method="POST" action="/recipe/{{oneRecipe._id}}">
            <h6>Review</h6>
                <label></label>
                <input type="textarea" id="comment" name="comment" placeholder="Write your review here.."></textarea>
                <button class="signupbtn"  type="submit" value="Submit">Submit</button>
            </form>

            <form class="favorite" action="/recipe/{{oneRecipe._id}}/favorite" method="POST">
            <button class="signupbtn"  type="submit" value="Submit">add to fav</button>
            </form>
        </div>
	<div class="rating">
    <input name="stars" id="e5" type="radio"></a><label for="e5">☆</label>
	<input name="stars" id="e4" type="radio"></a><label for="e4">☆</label>
		<input name="stars" id="e3" type="radio"></a><label for="e3">☆</label>
		<input name="stars" id="e2" type="radio"></a><label for="e2">☆</label>
		<input name="stars" id="e1" type="radio"></a><label for="e1">☆</label>
	</div> -


            {{!-- // form, when clicked on button create new rceipe in list "/recipe/:_id/favorite" --}}
            <img class="addToFav" src="/icons/fav.png" alt="add to favorite icon" height="30px"/>

