<h1> DETAILS</h1>

<div>
    <h2>picture banner</h2>
</div>
<h1>{{oneRecipe.title}}</h1>
<img src='{{oneRecipe.image}}'/>
<section>
<div class="row1">
    <div class="column1">
        <ul>
        {{#each oneRecipe.extendedIngredients}}
            <li>{{this.original}}</li>
        {{/each}}
        </ul>
        {{{oneRecipe.instructions}}}
    </div>
    <div class="column1">
        {{!-- {{#if oneRecipe.cuisines["Chinese"]}} --}}
        <img src="/images/inspiration/chinese.jpg" alt="img" height="50px"/>
        <img src="/images/inspiration/chinese2.jpg" alt="img" height="50px"/>
        <img src="/images/inspiration/chinese3.jpg" alt="img" height="50px"/>
        <video src="" alt="video">video</video>
        <a href="#">link to spotify</a>
        {{!-- {{/if}} --}}
    </div>
    <div class="row1">
        <div class="column1">
            <h1>wine rec</h1>
            <p>{{{oneRecipe.winePairing.pairingText}}}</p>
        </div>
        <div class="column1" id="right">
            <h4>Reviews</h4>
            {{#each filteredReviews}}
            <h6>{{this.userId.username}}: {{this.comment}}</h6>   
            {{/each}} 
            <form method="POST" action="/recipe/{{oneRecipe._id}}">
            <h6>Review</h6>
                <label></label>
                <input type="textarea" id="comment" name="comment" placeholder="Write your review here.."></textarea>
                <button class="signupbtn"  type="submit" value="Submit">Submit</button>
            </form>

            <form class="favorite" action="/recipe/{{oneRecipe._id}}/favorite" method="POST">
            <button class="signupbtn"  type="submit" value="Submit">add to fav</button>
            </form>
            {{!-- // form, when clicked on button create new rceipe in list "/recipe/:_id/favorite" --}}
            <img class="addToFav" src="/icons/fav.png" alt="add to favorite icon" height="30px">
        </div>
