<h1> DETAILS</h1>

<div>
<h2 id="bannerimage">{{oneRecipe.title}}</h2>
<img src='{{oneRecipe.image}}'/>
</div>
<img src='{{oneRecipe.image}}'/>
<div class="row1">
    <div class="column1">
        <ul>
        {{#each oneRecipe.extendedIngredients}}
            <li>{{this.original}}</li>
        {{/each}}
        </ul>
        {{{oneRecipe.instructions}}}
    </div>
    <div class="column1">
        {{!-- {{#if oneRecipe.cuisines.includes("Chinese")}} --}}
        <img src="/images/inspiration/chinese.jpg" alt="img" height="50px"/>
        <img src="/images/inspiration/chinese2.jpg" alt="img" height="50px"/>
        <img src="/images/inspiration/chinese3.jpg" alt="img" height="50px"/>
        <video src="" alt="video">video</video>
        <a href="#">link to spotify</a>
        {{!-- {{/if}} --}}
    </div>
  </div>
    <div class="row1">
        <div class="column1">
            <h1>wine rec</h1>
            <p>{{{oneRecipe.winePairing.pairingText}}}</p>
        </div>
        </div>
        <div class="column1" id="right"></div>
            <h4>Reviews</h4>
            {{#each filteredReviews}}
            <h6>{{this.userId.username}}: {{this.comment}}</h6>
            {{/each}}
            <form method="POST" action="/recipe/{{oneRecipe._id}}">
                <label>Reviews</label>
                <h6>Name</h6>
                <input type="textarea" name="name" placeholder="Enter your name" >
                <input type="textarea" id="comment" name="comment" placeholder="Write your review here.."></textarea>
                <button class="signupbtn"  type="submit" value="Submit">Submit</button>
            </form>

            <form class="favorite" action="/recipe/{{oneRecipe._id}}/favorite" method="POST">
            <button class="signupbtn"  type="submit" value="Submit">add to fav</button>
            </form>
	<div class="rating">
    <input name="stars" id="e5" type="radio"></a><label for="e5">☆</label>
	<input name="stars" id="e4" type="radio"></a><label for="e4">☆</label>
		<input name="stars" id="e3" type="radio"></a><label for="e3">☆</label>
		<input name="stars" id="e2" type="radio"></a><label for="e2">☆</label>
		<input name="stars" id="e1" type="radio"></a><label for="e1">☆</label>
	</div>


            {{!-- // form, when clicked on button create new rceipe in list "/recipe/:_id/favorite" --}}
            <img class="addToFav" src="/icons/fav.png" alt="add to favorite icon" height="30px"/>

